@import './normalize.scss';
@import './variables/global.scss';
@import './themes/normal.scss';
@import './themes/dark.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  min-height: 100dvh;
  font: var(--font-m);
  color: var(--primary-color);
  background-color: var(--bg-color);
}
