.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  min-height: 100dvh;
  font-size: var(--font-size-l);
}

.notFoundLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
