.app.dark {
  --bg-color: #030354;
  --primary-color: #03a000;
  --secondary-color: #242424;
  --inverted-bg-color: #bababc;
  --inverted-primary-color: #0031c3;
  --inverted-secondary-color: #4981fa;
}
