.app.dark {
  --bg-color: #030354;
  --primary-color: #13e813;
  --secondary-color: #04ff04;
  --inverted-bg-color: #bababc;
  --inverted-primary-color: #00279c;
  --inverted-secondary-color: #0051ff;
}
